@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Julius+Sans+One&display=swap');

body {
    font-family: "Crimson Text", sans-serif;
}

.body-content, .navbar {
    max-width: 1400px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #252525;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 24px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.homepage-image, .homepage-text {
    max-height: 280px;
    max-width: 500px;
}