@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Julius+Sans+One&display=swap');

body {
    font-family: "Crimson Text", sans-serif;
}

.body-content, .navbar {
    max-width: 1400px;
    margin: auto;
}

.homepage-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.homepage-image {
    max-height: 280px;
    max-width: 500px;
}