@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300&family=Montserrat:ital,wght@0,200;0,300;1,300&display=swap');

body {
    font-family: Barlow , sans-serif;
    color: black;
}

.body-content, .navbar {
    /* max-width: 1400px; */
    margin: auto;
}

.logo {
    width: 100px;
    height: auto;
}

a {
    text-decoration: none;
    color: #252525;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    font-size: 22px;
    text-transform: uppercase;
}

p {
    font-size: 18px;
}

.homepage-image, .homepage-text {
    max-height: 580px;
    max-width: 600px;
}

.section-title {
    background-color: #63898A;
    color: white;
    padding: 2px 0 2px 5px;
}

.section-link:hover {
    color: #0000EE;
    font-size: 20px;
}